* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #455a64;
  font-family: 'Nova Square', cursive;
  color: white;
}

.game-board,
.info-panel {
  max-width: 680px;
  width: 85vw;
  align-self: center;
}


/* Game Board */
.game-board {
  display: flex;
  flex-wrap: wrap;
  background-color: #795548;
  padding: 5px 10px 10px 5px;
  max-height: 680px;
  height: 85vw;
  border-radius: 10px;
  box-shadow: 1px 1px 0px #4b2c20,
              2px 2px 0px #4b2c20,
              3px 3px 0px #4b2c20,
              4px 4px 0px #795548,
              5px 5px 0px #4b2c20,
              6px 6px 0px #795548,
              7px 7px 0px #4b2c20,
              8px 8px 0px #795548,
              9px 9px 0px #4b2c20,
              10px 10px 0px #795548,
              11px 11px 0px #4b2c20,
              12px 12px 0px #795548,
              13px 13px 0px #4b2c20,
              14px 14px 0px #4b2c20,
              15px 15px 0px #795548,
              16px 16px 0px #4b2c20,
              17px 17px 0px #4b2c20,
              18px 18px 10px #333,
              19px 19px 20px #333;
}

.game-pieces-container {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 25%;
}

.game-pieces {
  position: relative;
  align-self: center;
  width: 92%;
  height: 92%;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.game-pieces.flipped {
  transform: rotateY(180deg);
}

.game-pieces.flipped.wrong .piece-back {
  background: #ff616f;
  transition: all 0.2s ease;
}

.game-pieces.flipped.guessed .piece-back {
  background: #2e7d32;
  transition: all 0.2s ease;
}

.game-pieces .piece-back {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background: #707070;
}

.game-pieces .piece-front {
  position: absolute;
  backface-visibility: hidden;
  background: #484848;
  width: 100%;
  height: 100%;
}

.game-pieces .piece-front,
.game-pieces .piece-back {
  border-radius: 5px;
  box-shadow: 1px 1px 0px #000000,
              2px 2px 0px #000000,
              3px 3px 0px #212121,
              4px 4px 0px #212121,
              5px 5px 0px #212121,
              6px 6px 0px #000000,
              7px 7px 0px #000000;
}

.game-pieces .fas {
  align-self: center;
}


/* Info Panel */
.info-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
  min-height: 30px;
  margin-bottom: 20px;
}

.info-panel .star-rating-container,
.info-panel .timer-container {
  min-width: 90px;
}

.info-panel .fa-star,
.modal .fa-star {
  color: #fdd835;
  text-shadow: 1px 1px 0px #333,
               2px 2px 0px #333,
               3px 3px 0px #222;
  margin-right: 0.2em;
}

.info-panel .far.fa-star,
.modal .far.fa-star {
  font-size: 1.5em;
  color: #b1b1b1;
  text-shadow: 1px 1px 0px #333,
               2px 2px 0px #333,
               3px 3px 0px #222;
}

.info-panel .timer-container,
.info-panel .moves-container {
  text-shadow: 1px 1px 0px #777,
               2px 2px 0px #555,
               3px 3px 0px #333;
  font-size: 1.5em;
  text-transform: uppercase;
}


/* Modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
  color: #333;
}

.modal.active {
  display: flex;
}

.modal * {
  align-self: center;
}

.modal .fas {
  color: #fbc02d;
  text-shadow: 1px 1px 0px #333,
               1.5px 1.5px 0px #333,
               2px 2px 0px #222;
  margin-bottom: 20px;
}

.modal h2 {
  margin-bottom: 20px;
}
.modal h3 {
  margin-bottom: 10px;
}

.modal button {
  background: #00838f;
  padding: 7px 12px;
  color: white;
  border: 1px solid #01579b;
  box-shadow: inset 0 0 5px #333;
  transition: all 0.2s ease;
}
.modal button:hover {
  background: #006064;
  transform: scale(1.2);
  cursor: pointer;
}
