* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.game-board {
  display: flex;
  flex-wrap: wrap;
  max-width: 680px;
  max-height: 680px;
  width: 85vw;
  height: 85vw;
  background-color: red;
  align-self: center;
  padding: 10px;
}
.game-pieces-container {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 25%;
}
.game-pieces {
  position: relative;
  align-self: center;
  width: 92%;
  height: 92%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.game-pieces.flipped {
  transform: rotateY(180deg);
}
.game-pieces .piece-back {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.game-pieces .piece-front {
  position: absolute;
  backface-visibility: hidden;
  background: blue;
  width: 100%;
  height: 100%;
}
.game-pieces .fas {
  align-self: center;
}
